

@model MovieManagementMVC.Models.MoviesDropDownViewModel

@{
    ViewData["Title"] = "View";
}



<h4>Now Showing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Occupancy" class="control-label"></label>
                <input asp-for="Occupancy" class="form-control" />
                <span asp-validation-for="Occupancy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieHallDTO.MovieName">Movie:</label>
                <select asp-for="MovieHallDTO.MovieName" asp-items="@Model.MovieOptions" class="form-control">
                    <option value="">Select a Movie :-</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MovieHallDTO.MovieDescription">Description:</label>
                <select asp-for="MovieHallDTO.MovieDescription" asp-items="@Model.DescriptionOptions" class="form-control">
                <option value="">Description :-</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MovieHallDTO.HallName">Hall:</label>
                <select asp-for="MovieHallDTO.HallName" asp-items="@Model.HallOptions" class="form-control">
                    <option value="">Select a Hall :-</option>
                </select>
                
            </div>
            <div class="form-group">
                <label asp-for="MovieHallDTO.ShiftTime">Shift:</label>
                <select asp-for="MovieHallDTO.ShiftTime" asp-items="@Model.ShiftOptions" class="form-control">
                <option value="">Select a Shift :-</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



